.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: #414141;
}
.headerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 100%;
  background-color: aqua;
  font-size: 1.2rem;
  gap: 20px;
}

.headerLeft img {
  height: 2.5rem;
}

.headerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 100%;
  background-color: aqua;
  font-size: 1.2rem;
  gap: 20px;
}
