.list{
    align-items: center;
    background-color: #5a3e2b;
    color: #ffebb3;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    justify-content: space-between;
    padding: 4rem 0;
}