.list ul {
  align-items: center;
  background-color: #5a3e2b;
  color: #ffebb3;
  display: flex;
  flex-wrap: wrap;

  /* flex-direction: column; */
  gap: 1.5rem;
  justify-content: center;
  padding: 4rem 0;
  border: solid 1px;
}

.list ul li {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

.list ul li button {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  border-radius: 50%;
  transition: 1s;
}

.list ul li button:hover {
  background-color: chocolate;
}
