* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header h1 {
  background-color: #f4a226;
  font-family: Monoton;
  font-size: 8rem;
  font-weight: 400;
  letter-spacing: -5px;
  padding: 2.4rem 0;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 30px;
}
