.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: gray;
  width: 100%;
}

.active {
  background-color: orange;
}

button {
  height: 30px;
  width: 100px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.2rem;
}
