:root {
  --main-color: #fff;
  --secondary-color: #e9eef6;
  --therd-color: #dbdee4;
  --select-color: #c2e7ff;
  --hover-color: #c7c7c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
